$sidebar: 280px;

#sidebar {
  background-color: #ddd;
  width: $sidebar;

  @media (max-width: #{$md}) {
    display: none;
  }

  .active {
    @include important-text;
  }
  .item > a {
    padding: 14px;
    display: flex;
  }
}

#content {
  @media (min-width: #{$md}) {
    width: calc(100% - $sidebar);
    margin-left: $sidebar;
  }
}
