$sidebar: 280px;

#sidebar {
  border-right: 1px solid var(--greyc);
  width: $sidebar;

  @media (max-width: #{$md}) {
    display: none;
  }

  .active {
    @include menu-active;
  }
  .item > a {
    padding: 10px 14px;
    display: flex;
  }
}

#content {
  @media (min-width: #{$md}) {
    width: calc(100% - $sidebar);
    margin-left: $sidebar;
  }
}
